
.counter-container {
  text-align: center;
  margin-top: 20%;
}

.counter-value {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333;
 
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.decrement {
  background-color: #000000;
  color: white;
}

.reset {
  background-color: #555;
  color: white;
}

.increment {
  background-color: #4caf50;
  color: white;
}
